@using WebGrease.Css.Extensions
@model List<Dictionary<string, string>>
@{
    Layout = null;
    var phone = string.Empty;
    var ownerTelephoneType = string.Empty;
    Model.SelectMany(k => k.Keys).ForEach(key => ownerTelephoneType += string.Format(" <div class='u-lineHeight2'>{0}</div>", key));
    Model.SelectMany(k => k.Values).ForEach(value => phone += string.Format("<div><a class='u-linkClean u-textSize2 u-lineHeight2' id='broker-phone-number' href='tel:{0}'>{0}</a></div>", value));
}
<div id="phoneNumberContactBarContainer" itemprop="telephone">
    <div class="u-block button button--icon button--phone button--noBorder u-size4of5 Grid-cell--center">
        <!-- owner type -->
        @if (@Model.Count > 1)
        {
            <div class="u-inlineBlock u-textSizeDefault u-textColorDefault">
                @Html.Raw(ownerTelephoneType)
            </div>
        }
        <div class="u-inlineBlock">
            @Html.Raw(phone)
        </div>
    </div>
</div>
